/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END MYER RESET */

* {
    /* outline: solid 1px red; */
}

html {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.gameboard {
    position: fixed;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    font-size: 150px;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    outline: 1px solid white;
    border-radius: 5px;
}

.scoreboard {
    display: grid;
    grid-template-columns: auto 1fr auto;
    text-align: center;
    margin-top: 5vh;
    outline: solid 2px white;
    border-radius: 5px;
    width: 90vw;
    margin-left: 5vw;
    align-items: center;
    font-size: 4rem;
    gap: 5px;
}

.player-x, .player-o {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 3rem;
    line-height: 4rem;
}

.player-x-name, .player-o-name {
    border-bottom: solid 1px white;
    margin-bottom: 5vw;
    padding: 1vh;
}

.player-x-name {
    border-right: solid 1px white;
    border-radius: 0px 0px 5px 0px;
}

.player-o-name {
    border-left: solid 1px white;
    border-radius: 0px 0px 0px 5px;
}

.player-x-score, .player-o-score {
    outline: solid 1px white;
    padding: 1vh;
}

.player-x-score {
    border-radius: 0px 5px 0px 5px;
}

.player-o-score {
    border-radius: 5px 0px 5px 5px;
}

.top-row {
    border-bottom: solid 1px white;
}

.middle-row {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.bottom-row {
    border-top: solid 1px white;
}

.middle-column {
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.game-cell {
    cursor: pointer;
}

.hidden-button {
    display: none;
}

button {
    display: flex;
    transition-duration: 150ms;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    font-size: 2rem;
    border-radius: 5px;
    border: none;
}

button:hover {
    transform: scale(1.1);
    transition-duration: 150ms;
}

button:active {
    transform: scale(0.9);
    transition-duration: 150ms;
}
